body {
  color: lightseagreen;
  background-color: aliceblue;
  width: 960px;
  margin: auto;
}

table {
  border-radius:6px;
  margin: auto;
  border-collapse: separate;
  border-left: 0;
  border-spacing: 0px;
}

table th, td {
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  border: 3px solid slateblue;
  padding: 5px 4px 6px 4px; 
  text-align: left;
  vertical-align: top;
  border-radius: 8px;
}