/* CSS HEX */

/* --corn: #e7e247ff;
--black-olive: #3d3b30ff;
--independence: #4d5061ff;
--glaucous: #5c80bcff;
--alabaster: #e9eddeff; */

body {
  background-color: #E9EDDE;
  width: 960px;
  margin: auto;
  text-align: center;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 250%;
  color: #5C80BC;
  font-weight: 600;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

header {
  height: 360px;
}

header img {
  margin: 10px 60px;
}

section div {
  margin: auto;
}

section {
  padding-top: 30px;
}

section a {
  background-color: #5c80bcff;
  padding: 4px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 150%;
  margin: auto;
}

section a:hover {
  background-color: #e7e247ff;
  color: #3d3b30ff;
  font-style: italic;
  transition: 350ms;
}

main {
  width: 960px;
  margin-top: 80px;
  position: relative;
}

article {
  height: 180px;
  width: 300px;
  float: left;
  background-color: #ffffff;
  margin: 10px;
  border-radius: 6px;
}

article h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 150%;
  color: black;
  font-weight: 600;
  text-align: left;
  margin-top: 18px;
  margin-bottom: 10px;
  position: relative;
}

article h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #5C80BC;
  text-align: center;
  letter-spacing: 0px;
  margin-bottom: 10px;
}

article p {
  margin-left: 10px;
  line-height: 125%;
  text-align: left;
  font-size: 80%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #3D3B30;
}

p2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #3D3B30;
  line-height: 125%;
  text-align: center;
  font-size: 80%;
}

article img {
  height: 30px;
  margin: 10px;
  float: left;
}

article div {
  height: 1px;
  background-color: rgb(214, 214, 214);
  margin: 16px 10px 16px 10px;
  display: block;
}

div img {
  margin: auto;
  position: relative;
}

main {
  width: 960px;
  height: 480px;
}

nav {
  width: 960px;
}

footer {
  height: 40px;
  width: 100%;
}

table {
  margin: auto;
  border-left: 0;
  border-spacing: 4px;
}

table td {
  font-family: Arial, Helvetica, sans-serif;
  color: #5C80BC;
  border: 2px solid #5C80BC;
  padding: 5px;
  text-align: center;
  background-color: #ffffff;
  font-size: 100%;
  border-radius: 4px;
}

table th {
  font-family: 'Poppins', sans-serif;
  color: #5C80BC;
  font-weight: 700;
  border: 2px solid #5C80BC;
  padding: 5px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 4px;
  width: max-content;
}

form {
  margin:auto;
  border: 2px solid #5c80bcff;
  padding: 20px;
  border-radius: 6px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-size: 750;
  font-weight: 400;
  color: #5C80BC;
  background-color: #ffffff;
  width: 160px;
  display: block;
}

input {
  display: block;
  margin-bottom: 20px;
  background-color: #5C80BC;
  color: #ffffff;
  border-radius: 6px;
  height: 20px;
  padding-left: 6px;
}

legend {
  font-size: 125%;
  font-weight: 700;
}


